[submodule ".repos/agent-client-protocol"]
	path = .repos/agent-client-protocol
	url = https://github.com/agentclientprotocol/agent-client-protocol.git
[submodule ".repos/A2A"]
	path = .repos/A2A
	url = https://github.com/a2aproject/A2A.git
